body {
    background-color: rgb(108, 13, 94);
}

.div {
    position: absolute;
    width: 560px;
    height: 300px;
    border: solid 1px black;
    margin-top: 80px;
    border-radius: 5px;
    margin-left: 30%;
}

.user {
    position: absolute;
    width: 100px;
    height: 20px;
    background-color: blueviolet;
}

.block {
    position: absolute;
    width: 100px;
    height: 20px;
    background-color: blue;
    border-radius: 5px;
}

.ball {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 5px;
    background-color: red;
}